@model GasStantion.ViewModels.IndexViewModel

<h2>О компании</h2>

@Html.Raw(Model.AboutText)

<hr/>

<h2>Новости</h2>

@foreach (var news in Model.News)
{
    @Html.Partial("Partials/_NewsCardPartial", news)    
}

<div class="align-center">
    <a href="@Url.Action("Index", "News")" class="btn btn-warning">Все новости</a>
</div>

<hr/>

<h2>Отзывы</h2>

@foreach (var feedback in Model.Feedbacks)
{
    @Html.Partial("Partials/_FeedbackPartial", feedback)
}

<div class="align-center">
    <a href="@Url.Action("Index", "Feedback")" class="btn btn-warning">Все отзывы</a>
</div>