@using GasStantion.Areas.Admin.ViewModels
@model GasStantion.Models.News

@{
    ViewData.AddPath(Url.Action("Index", "AdminNews"), "Новости");
    ViewData.AddPath(null, "Редактирование");
}

@section Scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script>
        CKEDITOR.replace('Text');
        
        $('#remove_image').click(function () {
            $("#image_block").html('');
            $('#PreviewImageUrl').val(null);
        });

    </script>
}

@using (Html.BeginForm("Edit", "AdminNews", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control textarea" })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тэги</label>
            <div class="col-md-12">
                @Html.ListBox("TagIds", (IEnumerable<SelectListItem>)ViewBag.Tags, new {@class="form-control"})
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PreviewImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <input type="file" name="PreviewFile" accept="image/*" />
                @Html.ValidationMessage("PreviewFile", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(m => m.PreviewImageUrl)

        <div class="form-group" id="image_block">            
            <div class="col-md-12">
                @if (!string.IsNullOrEmpty(Model.PreviewImageUrl))
                {
                    <img src="@Model.PreviewImageUrl" class="img-responsive image-preview"/>
                    <a href="javascript:void(0)" id="remove_image">Удалить изображение</a>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
