@using GasStantion.Areas.Admin.ViewModels
@using GasStantion.Models
@{
}

<div class="col-md-4">
    <h3>Новости</h3>
    <p><a class="btn btn-default" href="@Url.Action("Index", "AdminNews")">Редактировать &raquo;</a>
    </p>
</div>

<div class="col-md-4">
    <h3>Топливо</h3>
    <p>
        <a class="btn btn-default" href="@Url.Action("Index", "AdminFuel")">Редактировать &raquo;</a>
    </p>
</div>

<div class="col-md-4">
    <h3>Документы</h3>
    <p>
        <a class="btn btn-default" href="@Url.Action("Index", "AdminDocuments")">Редактировать &raquo;</a>
    </p>
</div>

<div class="col-md-4">
    <h3>Контакты</h3>
    <p>
        <a class="btn btn-default" href="@Url.Action("Edit", "AdminContactsInfo")">Редактировать &raquo;</a>
    </p>
</div>

@if (User.IsInRole(RoleNames.Admin))
{
    <div class="col-md-4">
        <h3>Страницы</h3>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "AdminPages")">Редактировать &raquo;</a>
        </p>
    </div>
}

<div class="col-md-4">
    <h3>Отзывы</h3>
    <p>
        <a class="btn btn-default" href="@Url.Action("Index", "AdminUserFeedbacks")">Редактировать &raquo;</a>
    </p>
</div>

@if (User.IsInRole(RoleNames.Admin))
{
    <div class="col-md-4">
        <h3>Пользователи</h3>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "AdminUsers")">Редактировать &raquo;</a>
        </p>
    </div>
}