@using GasStantion.Areas.Admin.ViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <a href="@Url.Action("Index", "Admin")">Администрирование</a>/
    @if (ViewData[PathHelper.PathKey] != null)
    {
        foreach (PathPart part in ViewData[PathHelper.PathKey] as IEnumerable<PathPart>)
        {
            if (part.Url != null)
            {
                <span><a href="@part.Url">@part.Text</a>/</span>
            }
            else
            {
                <span>@part.Text/</span>
            }

        }
    }
</h3>

@RenderBody()

@section Scripts{
    @RenderSection("Scripts", required: false)
}