<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="page-wrapper">
        <div class="my-container">
            @Html.Action("Header", "Layout", new { Area = "" })
            <div class="row">
                <div class="col-sm-3">
                    @Html.Action("Fuel", "Layout", new { Area = "" })
                </div>
                <div class="col-sm-9">
                    <nav>
                        <ul>
                            <li><a href="@Url.Action("Index","Home", new {Area=""})">Главная</a></li>
                            <li><a href="@Url.Action("Index", "News", new {Area=""})">Новости</a></li>
                            <li><a href="@Url.Action("Index","Fuel", new {Area=""})">Топливо</a></li>
                            @Html.Action("Menu", "Layout", new { Area = "" })
                            <li><a href="@Url.Action("Index","Documents", new {Area=""})">Документы</a></li>
                            <li><a href="@Url.Action("Contacts", "Home", new {Area=""})">Контакты</a></li>
                            <li><a href="@Url.Action("Index", "Feedback", new {Area = ""})">Отзывы</a></li>
                            @Html.Partial("Partials/UserMenu")
                        </ul>
                    </nav>
                    <hr />
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="push"></div>
    </div>

    <footer>
        <div class="my-container align-center">
            АГЗС «Пионер» @DateTime.Now.Year | <a href="@Url.Action("Index", "Admin", new {Area = "Admin"})">Вход для сотрудников</a>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required:false)


</body>
</html>
