<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="page-wrapper">
        <div class="my-container">
            @Html.Action("Header","Layout")
            <div class="row">
                <div class="col-sm-3">
                    @Html.Action("Fuel","Layout")
                </div>
                <div class="col-sm-9">
                    <nav>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Главная</a></li>
                            <li><a href="@Url.Action("Index", "News")">Новости</a></li>
                            <li><a href="@Url.Action("Index","Fuel")">Топливо</a></li>
                            @Html.Action("Menu","Layout")
                            <li><a href="@Url.Action("Index","Documents")">Документы</a></li>
                            <li><a href="@Url.Action("Contacts","Home")">Контакты</a></li>
                        </ul>
                    </nav>
                    <hr/>
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="push"></div>
    </div>

    <footer>
        <div class="my-container">
            АГЗС «Пионер»  @DateTime.Now.Year
        </div>
    </footer>
</body>
</html>
